.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 81px 0 80px;

  &-headline {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    margin: 0 0 34px;
  }
  &-text {
    display: flex;
    font-family: "Gilroy-Medium";
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    height: 320px;
    flex-direction: column;
    padding: 0 29px 0 29px;
  }
}

@media screen and (min-width: $desktop-width) {

  .about {
    padding: 120px 0 0px;

    &-text {
      width: 620px;
      padding: 0;
      height: 280px;
      margin-bottom: 107px;
    }
  }  
}
