

.burger-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}


.burger-btn .span,
.burger-btn .span::before,
.burger-btn .span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.burger-btn span::before,
.burger-btn span::after {
  content: '';
  display: block;
}

.burger-btn span::before {
  transform: translateY(-5px);
  
}

.burger-btn span::after {
  transform: translateY(5px);
}

.burger-btn_active {
  height: 0;
}

.burger-btn_active::before {
  transform: rotate(35deg);
}

.burger-btn_active::after {
  transform: rotate(-35deg);
}