.education {
  font-family: "Gilroy-Medium";
  margin: 80px auto 96px;
  text-align: center;

  &-headline {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    margin-bottom: 40px;
  }
  &-text {
    font-size: 18px;
    margin-bottom: 27px;
    padding: 0 27px;
  }
  &-img {
    width: 90%;
    align-items: center;
    display: block;
    padding-right: 10px;
  }
  &-info {
    font-size: 18px;
    text-align: center;
    padding: 0 27px;
    margin-top: 35px;
  }
}

@media screen and (min-width: $desktop-width) {

  .education {
    margin: 112px auto 96px;
    width: 940px;

    &-img {
      width: 740px;
      margin-bottom: 80px;
      padding-right: 0;
      margin-left: 15px;
    }

    &-info {
      width: 840px;
      margin: 35px auto 0;
    }
  }
}
