.experience {
    background-color: #f6f6f6;
    font-family: "Gilroy-Medium";
    text-align: center;
    padding-bottom: 76px;

    li{
        list-style-type: none;
    }

    &-headline {
        font-family: "Gilroy-Bold";
        padding-top: 80px;
        font-size: 34px;
    }

    &-text {
        margin-top: 40px;
        padding: 0 27px;
    }
}

@media screen and (min-width: $desktop-width) {
    .experience {
        width: 100%;
        padding-bottom: 96px;

        &-headline {
            padding-top: 112px;
        }

        &-container {
            width: 880px;
            margin: auto;
        }
        
    }
}