.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  text-align: center;
  padding: 80px 27px;
  align-items: center;
  background-color: #f6f6f6;
  margin: 0 auto;

  &-headline {
    font-size: 34px;
    font-family: "Gilroy-Bold";
    margin-bottom: 27px;
  }

  &-text {
    margin-bottom: 40px;
  }

  &-btn {
    display: block;
    font-family: "Gilroy-Bold";
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    background-color: black;
    border-color: none;
    border: none;
    text-decoration: none;
    transition: 0.2s;

    width: 280px;
    height: 42px;

    border-radius: 200px;
    outline: none;

    margin: 0 auto 48px;
  }

  &-btn:hover {
    color: #070707;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
  }

  &-social {
    display: flex;
    width: 280px;
    justify-content: space-between;
    margin: 0 auto 48px;
  }

  &-img:hover {
    opacity: 50%;
    transition: 0.15s;
  }
  &-description {
    color: #828282;
    text-align: center;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    padding: 114px 27px;

    &-btn {
      width: 166px;
      height: 38px;
      margin-bottom: 80px;
    }

    &-description {
      margin-bottom: 13px;
      font-size: 14px;
    }
  }
}
