.header {
  font-family: "Gilroy-Bold";

  &-navigation {
    display: flex;
    flex-direction: column;
    padding: 66px 26px;
    position: fixed;
    width: 100vw;
    height: 200%;
    background-color: #fff;
    left: 0;
    top: 0;
    transform: translateX(100vw);
    transition: 0.1s;

    &.opened {
      transform: translateX(0);
    }

    &__link {
      text-decoration: none;
      color: #828282;
      margin-bottom: 34px;
      font-size: 34px;
      margin-right: auto;
    }
  }
  &-btn {
    display: block;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    top: 68px;
    right: 30px;
    z-index: 10;
    svg {
      rect {
        transition: all 0.3s ease-in-out;
      }
    }
    &.opened {
      position: fixed;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        top: 68px;
        right: 30px;
        z-index: 10;
        svg {
          rect {
            opacity: 0;
            &:first-child {
              opacity: 1;
              transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
            }
            &:last-child {
              opacity: 1;
              transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
            }
          }
        }

    }
  }
}

.body-scroll-off {
  overflow: hidden;
}

@media screen and (min-width: $desktop-width) {
  .header {
    position: fixed;
    width: calc(100vw - 16px);
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;

    &-navigation {
      height: 88px;
      transform: translateX(0vw);
      position: unset;
      display: flex;
      flex-direction: row;
      width: 940px;
      justify-content: space-between;
      margin: 0 auto;
      padding: 33px 0 32px;
      border-bottom: 1px solid #828282;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: #ffffff;


      &__link {
        margin: 0;
        text-decoration: none;
        color: #828282;
        font-size: 18px;
      }

      &__link:hover {
        color: #070707;
      }
    }
    &-btn {
      display: none;
    }
  }
  .body-scroll-off {
    overflow: auto;
  }
}
