.intro {
  display: grid;
  grid-template-areas:
    "name ."
    ". ."
    "info ."
    ". ."
    "img img"
    ". .";
  grid-template-columns: 206px auto;
  grid-template-rows: auto 23px auto 37px 478px 81px;
  padding: 0 29px;
  margin-top: 65px;

  &-headline {
    grid-area: name;
    font-family: "Gilroy-Bold";
    font-size: 47px;
  }

  &-info {
    grid-area: info;
    font-family: "Gilroy-Medium";
    font-size: 18px;
  }

  &-photo {
    grid-area: img;
    background-image: url('../img/Dasha_mobile.png');
    background-size: cover;
  }

  &-lang {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .intro {
    
    grid-template-areas:
      "name . info . lang"
      ". . . . ."
      "img img img img img"
      ". . . . .";
    grid-template-columns: 124px auto 286px auto 20px;
    grid-template-rows: auto 49px 387px 104px;
    padding: 0;
    margin: 129px auto 0;
    width: 940px;

    &-lang {
      font-family: "Gilroy-Bold";
      display: flex;
      grid-area: lang;
      height: 20px;
      transform: rotate(-90deg);
      margin-top: auto;
      button {
        font-family: "Gilroy-Bold";
        font-size: 16px;
        border: none;
        outline: none;
        background: none;
        text-transform: uppercase;
        color: #828282;
      }
      button:hover {
        color: #070707;
      }

      p {
        margin: 0 5px;
      }
    }
    &-info {
        margin-top: auto;
    }
    &-photo {
        background-image: url('../img/Dasha_desktop.png');
    }
  }
}
