.skills {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 81px 0 98px;
  font-family: "Gilroy-Medium";
  font-size: 18px;

  &-headline {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    padding-bottom: 40px;
  }

  &-banner {
    display: flex;
    flex-direction: column;
    width: 167px;
    height: 207px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Gilroy-Bold";
    font-size: 14px;
    color: #828282;
    margin-top: 80px;

    &__ID {
      display: block;
      
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .skills {
    padding: 91px 0 110px;

    &-container {
      display: flex;
      flex-direction: row;
      width: 940px;
      justify-content: space-between;
    }

    &__text {
      padding: 69px 0 0;
    }

    
  }
}
