* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "consts";
@import "fonts";
@import "header";
@import "intro";
@import "about";
@import "skills";
@import "experience";
@import "education";
@import "footer";
