* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../fonts/Gilroy-Bold.woff);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../fonts/Gilroy-Medium.woff);
}

.header {
  font-family: "Gilroy-Bold";
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 66px 26px;
  position: fixed;
  width: 100vw;
  height: 200%;
  background-color: #fff;
  left: 0;
  top: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header-navigation.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-navigation__link {
  text-decoration: none;
  color: #828282;
  margin-bottom: 34px;
  font-size: 34px;
  margin-right: auto;
}

.header-btn {
  display: block;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  top: 68px;
  right: 30px;
  z-index: 10;
}

.header-btn svg rect {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-btn.opened {
  position: fixed;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  top: 68px;
  right: 30px;
  z-index: 10;
}

.header-btn.opened svg rect {
  opacity: 0;
}

.header-btn.opened svg rect:first-child {
  opacity: 1;
  -webkit-transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
          transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
}

.header-btn.opened svg rect:last-child {
  opacity: 1;
  -webkit-transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
          transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
}

.body-scroll-off {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    width: calc(100vw - 16px);
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  .header-navigation {
    height: 88px;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 940px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 33px 0 32px;
    border-bottom: 1px solid #828282;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  .header-navigation__link {
    margin: 0;
    text-decoration: none;
    color: #828282;
    font-size: 18px;
  }
  .header-navigation__link:hover {
    color: #070707;
  }
  .header-btn {
    display: none;
  }
  .body-scroll-off {
    overflow: auto;
  }
}

.intro {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name ." ". ." "info ." ". ." "img img" ". .";
  -ms-grid-columns: 206px auto;
      grid-template-columns: 206px auto;
  -ms-grid-rows: auto 23px auto 37px 478px 81px;
      grid-template-rows: auto 23px auto 37px 478px 81px;
  padding: 0 29px;
  margin-top: 65px;
}

.intro-headline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  font-family: "Gilroy-Bold";
  font-size: 47px;
}

.intro-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: info;
  font-family: "Gilroy-Medium";
  font-size: 18px;
}

.intro-photo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  background-image: url("../img/Dasha_mobile.png");
  background-size: cover;
}

.intro-lang {
  display: none;
}

@media screen and (min-width: 1024px) {
  .intro {
        grid-template-areas: "name . info . lang" ". . . . ." "img img img img img" ". . . . .";
    -ms-grid-columns: 124px auto 286px auto 20px;
        grid-template-columns: 124px auto 286px auto 20px;
    -ms-grid-rows: auto 49px 387px 104px;
        grid-template-rows: auto 49px 387px 104px;
    padding: 0;
    margin: 129px auto 0;
    width: 940px;
  }
  .intro-lang {
    font-family: "Gilroy-Bold";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: lang;
    height: 20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: auto;
  }
  .intro-lang button {
    font-family: "Gilroy-Bold";
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    color: #828282;
  }
  .intro-lang button:hover {
    color: #070707;
  }
  .intro-lang p {
    margin: 0 5px;
  }
  .intro-info {
    margin-top: auto;
  }
  .intro-photo {
    background-image: url("../img/Dasha_desktop.png");
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 81px 0 80px;
}

.about-headline {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  margin: 0 0 34px;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gilroy-Medium";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  text-align: center;
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 29px 0 29px;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 120px 0 0px;
  }
  .about-text {
    width: 620px;
    padding: 0;
    height: 280px;
    margin-bottom: 107px;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 81px 0 98px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
}

.skills-headline {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  padding-bottom: 40px;
}

.skills-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 167px;
  height: 207px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  color: #828282;
  margin-top: 80px;
}

.skills-banner__ID {
  display: block;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 1024px) {
  .skills {
    padding: 91px 0 110px;
  }
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 940px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills__text {
    padding: 69px 0 0;
  }
}

.experience {
  background-color: #f6f6f6;
  font-family: "Gilroy-Medium";
  text-align: center;
  padding-bottom: 76px;
}

.experience li {
  list-style-type: none;
}

.experience-headline {
  font-family: "Gilroy-Bold";
  padding-top: 80px;
  font-size: 34px;
}

.experience-text {
  margin-top: 40px;
  padding: 0 27px;
}

@media screen and (min-width: 1024px) {
  .experience {
    width: 100%;
    padding-bottom: 96px;
  }
  .experience-headline {
    padding-top: 112px;
  }
  .experience-container {
    width: 880px;
    margin: auto;
  }
}

.education {
  font-family: "Gilroy-Medium";
  margin: 80px auto 96px;
  text-align: center;
}

.education-headline {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  margin-bottom: 40px;
}

.education-text {
  font-size: 18px;
  margin-bottom: 27px;
  padding: 0 27px;
}

.education-img {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  padding-right: 10px;
}

.education-info {
  font-size: 18px;
  text-align: center;
  padding: 0 27px;
  margin-top: 35px;
}

@media screen and (min-width: 1024px) {
  .education {
    margin: 112px auto 96px;
    width: 940px;
  }
  .education-img {
    width: 740px;
    margin-bottom: 80px;
    padding-right: 0;
    margin-left: 15px;
  }
  .education-info {
    width: 840px;
    margin: 35px auto 0;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  text-align: center;
  padding: 80px 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  margin: 0 auto;
}

.contacts-headline {
  font-size: 34px;
  font-family: "Gilroy-Bold";
  margin-bottom: 27px;
}

.contacts-text {
  margin-bottom: 40px;
}

.contacts-btn {
  display: block;
  font-family: "Gilroy-Bold";
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  background-color: black;
  border-color: none;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 280px;
  height: 42px;
  border-radius: 200px;
  outline: none;
  margin: 0 auto 48px;
}

.contacts-btn:hover {
  color: #070707;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 4px gray;
  -webkit-box-shadow: 0px 0px 20px 4px gray;
  -moz-box-shadow: 0px 0px 20px 4px gray;
}

.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 48px;
}

.contacts-img:hover {
  opacity: 50%;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.contacts-description {
  color: #828282;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .contacts {
    padding: 114px 27px;
  }
  .contacts-btn {
    width: 166px;
    height: 38px;
    margin-bottom: 80px;
  }
  .contacts-description {
    margin-bottom: 13px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */